body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #c27c27;
}

.app {
  text-align: center;
  padding: 40px;
  color: #1b1917;
}

.subtitle {
  color: #4d6955;
  margin-bottom: 40px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
